@font-face {
    font-family: "Open Sans";
    src: url("./fonts/static/OpenSans-Regular.ttf");
    font-display: swap;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* Common styles */

body, .side-bar, .main-content, #nav-links, #modifiers, #list-header,
#item-modifiers, form, #list {
    display: flex;
}

.side-bar, #list-header,
 form, #list, .main-content {
    flex-direction: column;
}

#nav-heading, #nav-links > .list {
    text-align: center;
}

.item-modifier, #modifiers > button {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: .57rem;
    transition: .6s ease;
}

.item-modifier:hover , #modifiers > button:hover {
    cursor: pointer;
}

/* Sidebar styles */

.side-bar {
    gap: 3rem;
    width: 20%;
    background-color: #121212;
    color: #f1f2f3;
    padding: 2rem;
    font-size: 1.3rem;
    overflow-y: scroll;
}

#nav-heading {
    font-size: 2.3rem;
}

#modifiers {
    margin-top: 1.5rem;
    font-size: 3rem;
    justify-content: space-between;
    align-items: center;
}

#modifiers > button {
    background-color: #121212;
    color: #f1f2f3;
    border: 1px solid #fff;
}

#modifiers > button:hover {
    background-color: #f1f2f3;
    color: #121212;
}


#name-input {
    display: none;
}

#list-name {
    display: none;
    font-size: 1.2rem;
    border: none;
    border-radius: .4rem;
    width: 15.2rem;
    padding: .3rem .5rem;
}

#submit-name {
    display: none;
    border: 1px solid transparent;
    border-radius: .5rem;
    color: #f1f1f1;
    background-color: #656565;
    width: 5rem;
    height: 2rem;
    align-self: center;
    font-size: 1rem;
    transition: .6s ease;
}

#list-name, #submit-name { 
    text-transform: capitalize;
}

#submit-name:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

#nav-links {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.25rem;
    align-self: center;
}

#nav-links > .list {
    text-transform: capitalize;
    border-radius: 6.25rem;
    border-bottom: .125rem solid transparent;
    transition: .5s ease;
    width: 9rem;
    padding: .25rem .5rem;
}

#nav-links > .list:hover {
    cursor: pointer;
    border-bottom: .125rem solid #f1f2f3;
}

/* Main content styles */

.main-content {
    gap: 3.5rem;
    color: #121212;
    padding: 6.25rem;
    width: 80%;
    background-color: #f1f2f3;
}

#list-header {
    gap: 2rem;
}

.list-heading {
    font-size: 2rem;
}

#item-modifiers {
    justify-content: space-between;
}

.item-modifier {
    background-color: #f1f1f1;
    border: 1px solid #121212;
}

.item-modifier:hover {
    background-color: #121212;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
}

/* Item Addition Form Styles */

form {
    margin-top: 2.4rem;
    gap: .8rem;
}

form, form button {
    font-size: 1.35rem;    
    text-transform: capitalize;
}

#title-input, #description-text, 
#due-date-input, #priority-input{
    padding: .15rem;
    font-size: 1.15rem;    
}

#add-btn {
    width: 6.25rem;
    border: none;
    background-color: #4af113;
    border-radius: .25rem;
    transition: .7s ease;
}

#add-btn:hover {
    cursor: pointer;
    background-color: #1aff4c91;
}

/* List item styles */

#list {
    gap: .8rem;
    list-style-type: none;
}

#list > .list-item {
    color: #fff;
    background-color: #121212;
    padding: .8rem;
    border-radius: .4rem;
    transition: .5s ease;
}

#list > .list-item:nth-of-type(odd) {
    background-color: #112233;
}

#list > .list-item:hover {
    cursor: pointer;
    opacity: .8;
}
